<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" [(ngModel)]="student.name"> 
    </div>
    <!-- [()] "Banana in the box" -> binding bidirezionale -> () da html a TS, [] da TS a html -->

    <div>
        <label for="lastname">Lastname: </label>
        <input type="text" id="lastname" name="lastname" [(ngModel)]="student.lastname">
    </div>

    <div>
        <label for="gender">Gender: </label>
        <input type="text" id="gender" name="gender" [(ngModel)]="student.gender">
    </div>

    <div>
        <label for="birthdate">Birthdate: </label>
        <input type="date" id="birthdate" name="birthdate" [(ngModel)]="student.birthDate">
    </div>

    <div>
        <label for="favoriteLanguage">Favorite Language: </label>
        <input type="text" id="favoriteLanguage" name="favoriteLanguage" [(ngModel)]="student.favoriteLanguage">
    </div>

    <button type="submit">Submit</button>
</form>
